body {
    margin: 0;
    padding: 0;
}

#game-screen, #music {
   display: block;
}

#gameOver, #playHUD, #startMenu {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Electrolize', sans-serif;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton, #music {
    border: 2px solid white;
    border-radius: 7px;
}

#restartButton:hover {
    background-color: black;
}

#scoreboard {
    margin: 0px;
    position: absolute;
    border: 2px solid white;
}

#startButton {
    border: 2px solid white;
    border-radius: 7px;
}

#startButton:hover {
    background-color: black;
}

#music {
    margin-left: 38%;
    position: absolute;
}